* {
  box-sizing: border-box;
}

body {
  background-color: oklch(5% 0 0);
}

.section {
  margin-top: 2rem;
  color: oklch(100% 0 0);
  &:first-child {
    margin-top: 0;
  } // 첫 번째 섹션의 마진을 0으로 설정!
  h2 {
    text-align: center;
    // 텍스트 중앙 정렬
  }
}

.container {
  max-width: 80rem;
  padding: 2.5rem;
  margin-inline: auto;
  background-color: oklch(20% 0 0);
}

.card {
  background-color: oklch(40% 0 0);
  &__title {
    font-weight: 700;
    color: oklch(90% 0 0);
  }
  &__content {
    margin-top: 0.25rem;
    color: oklch(70% 0 0);
    font-family: "wanted sans", sans-serif;
  }
}

.flex-container {
  display: flex;
  // display: flex는 요소들을 가로로 배치해준다.
}
