*,
*::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
  font-family: "wanted sans", sans-serif;
}

.btn {
  cursor: grab;
  transition-delay: 100ms;
  transition: all 300ms ease-out;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-inline: 0.8rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-top: 1.25rem; /*for dev*/
  text-transform: uppercase;
  border-radius: 0.45rem;
  color: aliceblue;
}
.btn-type-elevated {
  border: 1px solid oklch(85% 0 0);
  background-color: oklch(35% 0 0);
}
.btn-type-elevated:hover {
  background-color: oklch(25% 0 0);
  color: rgba(240, 248, 255, 0.703);
}
.btn-type-tonal {
  border: 1px solid oklch(85% 0 0);
  background-color: oklch(55% 0.1 0);
}
.btn-type-tonal:hover {
  background-color: oklch(25% 0.1 0);
  color: rgba(240, 248, 255, 0.703);
}
.btn-type-outline {
  border: 1px solid oklch(85% 0 0);
  background-color: unset;
  color: rgb(54, 54, 54);
}
.btn-type-outline:hover {
  background-color: oklch(80% 0 0.05);
  color: rgb(99, 99, 101);
}
.btn-type-text {
  background-color: unset;
  color: rgb(54, 54, 54);
}
.btn-type-text:hover {
  color: rgb(147, 52, 104);
  background-color: unset;
  font-weight: 600;
  animation-name: rainbow;
  animation-duration: 5000ms;
}

@keyframes rainbow {
  0% {
    background-color: oklch(0.5 0.2 0);
  }
  25% {
    transform: translate(1rem, 0rem);
  }
  50% {
    transform: translate(1rem, 1rem);
  }
  100% {
    background-color: oklch(10 0.2 0);
  }
}